---
import '@repo/ui/globals.css';
import { ViewTransitions } from 'astro:transitions';
import PostHog from '../components/posthog.astro';
import { SITE_CONFIG } from '../site.config';

interface Props {
	title?: string;
	description?: string;
}

const { title = SITE_CONFIG.title, description = SITE_CONFIG.description } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" content={description} />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/jpg" href="/favicon.jpg" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<ViewTransitions />
<PostHog />
