---
import { Image } from 'astro:assets'
import logoImage from './logo.jpg'
import GithubLogo from '~icons/mdi/github'
import { buttonVariants } from '@repo/ui/components/button'
import '@repo/ui/globals.css'

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/jpg" href="/favicon.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header
			class="border-border/40 bg-background/95 supports-[backdrop-filter]:bg-background/60 sticky top-0 z-50 border-b shadow-sm backdrop-blur"
		>
			<div class="flex h-14 w-full items-center justify-between p-4">
				<a class="flex items-center gap-2" href="/">
					<Image
						src={logoImage}
						alt="YaleApps Reviews Logo"
						height="32"
						width="32"
						class="rounded-lg"
					/>
					<span class="text-lg font-bold">yaleapps / reviews</span>
				</a>
				<div class="flex gap-2">
					<a
						class={buttonVariants({ variant: 'ghost' })}
						href="https://github.com/yaleapps/yaleapps"
						target="_blank"
						rel="noreferrer"
					>
						<GithubLogo class="h-6 w-6" aria-hidden="true" />
					</a>
					<a class={buttonVariants({ variant: 'ghost' })} href="/about">About</a>
					<a class={buttonVariants({ variant: 'ghost' })} href="/about">Search</a>
				</div>
			</div>
		</header>
		<main class="flex flex-1 justify-center p-4">
			<slot />
		</main>
	</body>
</html>
