@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme created with ui.jln.dev at https://ui.jln.dev/theme/BqUPNpfqkvDisHYn */
@layer base {
	:root {
		--background: 187 38% 100%;
		--foreground: 0 0% 13.33%;
		--muted: 0 0% 93.33%;
		--muted-foreground: 0 0% 29.02%;
		--popover: 187 38% 100%;
		--popover-foreground: 0 0% 13.33%;
		--card: 187 38% 100%;
		--card-foreground: 0 0% 13.33%;
		--border: 217.14 29.58% 86.08%;
		--input: 217.14 29.58% 86.08%;
		--primary: 210.28 100% 20.98%;
		--primary-foreground: 187 0% 100%;
		--secondary: 0 0% 93.33%;
		--secondary-foreground: 210.28 100% 20.98%;
		--accent: 0 0% 29.02%;
		--accent-foreground: 0 0% 100%;
		--destructive: 8.97 76.38% 50.2%;
		--destructive-foreground: 0 0% 100%;
		--ring: 221.57 100% 75.1%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 187 53% 4%;
		--foreground: 187 10% 100%;
		--muted: 307 28% 14%;
		--muted-foreground: 307 11% 69%;
		--popover: 187 53% 4%;
		--popover-foreground: 187 10% 100%;
		--card: 187 53% 4%;
		--card-foreground: 187 10% 100%;
		--border: 187 4% 13%;
		--input: 187 4% 13%;
		--primary: 187 28% 26%;
		--primary-foreground: 187 28% 86%;
		--secondary: 307 28% 26%;
		--secondary-foreground: 307 28% 86%;
		--accent: 67 28% 26%;
		--accent-foreground: 67 28% 86%;
		--destructive: 12 89% 47%;
		--destructive-foreground: 0 0% 100%;
		--ring: 187 28% 26%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
