---
import { Image } from 'astro:assets';
import logoImage from '../layouts/logo.jpg';
import { courses, db } from '@repo/db/courses';
import { buttonVariants } from '@repo/ui/components/button';
import { PageActions, PageHeader, PageHeaderHeading } from '@repo/ui/components/page-header';
import { Spotlight } from '@repo/ui/components/spotlight';
import { cn } from '@repo/ui/lib/utils';
import GithubIcon from '~icons/mdi/github';
import BaseHead from '../layouts/BaseHead.astro';
import { SITE_CONFIG } from '../site.config';
import ModeToggle from '../layouts/ModeToggle.astro';

async function getAllSeasonCodes() {
	const queryResult = await db.selectDistinct({ season_code: courses.season_code }).from(courses);
	const seasonCodes = queryResult.map((result) => result.season_code).sort();
	return seasonCodes;
}

const allSeasonCodes = await getAllSeasonCodes();
---

<BaseHead>
	<PageHeader className="gap-8">
		<Spotlight className="-top-40 left-0 md:-top-20 md:left-60" fill="#00356b" />
		<PageHeaderHeading>List course by sentiment descending</PageHeaderHeading>
		<Image
			src={logoImage}
			alt=`YaleApps ${SITE_CONFIG.subdomain} Logo`
			height={512}
			width={512}
			class="h-64 w-64 rounded-lg"
		/>
		<PageActions>
			<a href="/202403" class={cn(buttonVariants())}>Open Fall 2024</a>
			<div class="flex gap-2" transition:name="icons">
				<a
					class={buttonVariants({ variant: 'ghost', size: 'icon' })}
					href={SITE_CONFIG.githubUrl}
					target="_blank"
					rel="noreferrer"
				>
					<GithubIcon class="h-6 w-6" aria-hidden="true" />
				</a>
				<ModeToggle />
			</div>
		</PageActions>
	</PageHeader>
</BaseHead>
