// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.
// 
// https://quasar.dev/style/sass-scss-variables#variables-list

$primary: #00356b;
$secondary: #BEB7A4;
$accent: #5f712d;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

// Overrides from https://quasar.dev/style/sass-scss-variables#variables-list
$generic-border-radius: 16px !default;
$shadow-color: #000 !default;
$elevation-umbra: rgba($shadow-color, .07) !default;
$elevation-penumbra: rgba($shadow-color, .05) !default;
$elevation-ambient: rgba($shadow-color, .03) !default;